Hello (1), {{ .Env.USER }}. You are using {{ .Env.SDKMAN_VERSION }}
Hello (2), {{.Env.USER}}. You are using {{.Env.SDKMAN_VERSION}}
Hello (3), {{    .Env.USER    }}. You are using {{    .Env.SDKMAN_VERSION    }}
